<div class="wrapper">
    <div class="upload-container">
        <form class="upload-form" [formGroup]="uploadForm" (ngSubmit)="upload()" enctype="multipart/form-data">
            <div class="form-title">Send Us A File</div>
            <input type="file" style="display: none;" #sound (change)="soundSelected($event)">
            <mat-form-field ><textarea class="text-area" matInput autofocus type="text" name="tasks" formControlName="tasks" placeholder="What needs to be done?"></textarea></mat-form-field>
            <button type="button" mat-raised-button class="upload-button" (click)="sound.click()">Add File</button>
            <div class="sound-uploaded-notifier" *ngIf="audioPreview && audioPreview !== ''">ready for upload</div>
        </form>
        <br>
        <button mat-raised-button (click)="upload()" class="submit">submit</button>
    </div>
</div>