<div class="upload-wrapper">
    <div class="upload-title">Let's Get To Work</div>
    <div class="upload-description">Upload your project files below and provide a brief description of what needs to be done. We'll review the files and give you a time estimate for completion, typically 12 to 24 hours but may take less or more time depending on audio quality and edit goals.</div>
    <form class="upload-form-2" [formGroup]="uploadForm" (ngSubmit)="upload()" enctype="multipart/form-data">
        <div class="metadata-2">
            <div class="box-header">Your Info</div>
                <mat-form-field>   <input matInput type="text" name="companyProject" formControlName="companyProject" placeholder="Company Name / Project Name"></mat-form-field>
                <mat-form-field *ngIf="!user">   <input matInput type="text" name="email" formControlName="email" placeholder="Contact Email"></mat-form-field>
                <div class="user" *ngIf="user">{{ user | json }}</div>
                <mat-form-field><textarea matInput type="text" name="description" formControlName="description" placeholder="What needs to be done?" class="description" id="description"></textarea></mat-form-field>
                <div>
                    <div class="file-mini-container" *ngIf="selectedFiles.length == 0">
                        <input type="file" style="display: none;" name="audioFile" formControlName="audioFile"  #sound (change)="soundSelected($event)" multiple>
                        <button mat-raised-button type="button" class="upload-button" (click)="sound.click()">click to select files</button>
                    </div>
                    <div class="file-list" id="file-list" *ngIf="selectedFiles.length">
                        <div class="upload-success">Uploading these files</div>
                        <div class="spacer"></div>
                        <div *ngFor="let file of selectedFiles">
                            <div class="file">{{ file.name }}</div>
                        </div>
                    </div>
                </div>
                <div class="spacer-2" *ngIf="selectedFiles.length"></div>
                <button mat-raised-button type="submit" class="submit" *ngIf="selectedFiles.length">submit</button>
        </div>
    </form>
    <br><br>