@import '../../animations.scss';

.wrapper {
    position: absolute;
    width: 100vw;
}

.title {
    color: white;
    font-size: 200%;
    font-weight: 100;
    margin: 100px 50px 50px 50px;
}

.back-button {
    margin-left: 3rem;
    background-color: rgba(52, 52, 52, 0.574);
    font-weight: 100;
    font-size: 55%;
    animation: fadeIn 1s ease-in-out;
}

.back-button-spacer {
    opacity: 0;
    height: 35px;
}

// home

.home-items {
    display: flex;
    justify-content: space-evenly;
}

.home-item {
    height: 60vh;
    // border: 1px solid rgba(0, 49, 73, 0.373);
    border-radius: 7px;
    background-image: linear-gradient(0.31turn, #00d0ff, #0088ff);
    box-shadow: 0px 0px 25px 0px black;
}

.hi1 {
    width: 45%;
    animation: fadeIn .9s ease;
}

.hi2 {
    width: 45%;
    animation: fadeIn 1.3s ease;
}

.home-item-title {
    text-align: center;
    padding: 1rem;
    color: white;
    font-weight: 100;
    font-size: 150%;
}

// uploads

.uploads {
    display: flex;
    justify-content: space-evenly;
}

#uploads {
    margin-left: 3%;
    transition: all 1s ease-in-out;
}

#downloads {
    margin-left: 3%;
    transition: all 1s ease-in-out;
}

.pre-expand {
    width: 45%;
}

.post-expand { 
    width: 90%;
}

.spacer {
    width: 45%;
    animation: deExpandFileManagerSpacer 1s ease-in-out forwards;
    border: 1px solid black;
}

.user-uploads {
    height: 239px;
}

.user-downloads {
    height: 239px;
}

.no-uploads {
    color: white;
    font-size: 200%;
    font-weight: 100;
    padding: 2rem;
    height: 239px;
}

// downloads

.downloads {
    display: flex;
    justify-content: space-evenly;
}

.download {
    width: 45%;
}

.no-downloads {
    color: white;
    font-size: 200%;
    font-weight: 100;
    padding: 2rem;
    height: 239px;
}