<div class="title">Reset Password</div>

<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <mat-form-field><input matInput type="text" name="oldPassword" formControlName="oldPassword" placeholder="Old Password"></mat-form-field>
    <mat-form-field><input matInput type="text" name="newPassword" formControlName="newPassword" placeholder="New Password"></mat-form-field>
    <mat-form-field><input matInput type="text" name="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Confirm Password"></mat-form-field>
    <button mat-raised-button type="submit" class="submit">submit</button>
</form>