<div class="wrapper">
    <form *ngIf="!adminLoggedIn" class="admin-form" [formGroup]="adminForm" (ngSubmit)="login()">
        <div class="title">Admin</div>
        <mat-form-field><input matInput autofocus type="text" name="username" formControlName="username" placeholder="username"></mat-form-field>
        <mat-form-field><input matInput autofocus type="password" name="password" formControlName="password" placeholder="password"></mat-form-field>
        <button mat-raised-button class="submit-button" type="button" (click)="login()">submit</button>
    </form>
    <div *ngIf="adminLoggedIn" class="admin-dashboard">
        <div class="title">Admin</div>
        <div class="dashboard-items">
            <div class="dashboard-item">
                <div class="dashboard-item-title">PAGE METRICS</div>
                <div class="dashboard-item-content" *ngFor="let page of pages">
                    <div class="page">
                        <div class="page-title">{{ page.title }}</div>
                        <div class="page-count">visited <span style="font-size: 110%; color: white;">{{ page.visits }}</span> times</div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <br>
    </div>
    <div class="dashboard-items" style="margin-top: 5rem;">
        <div *ngIf="adminLoggedIn" class="dashboard-item" style="width: 75%;">
            <div style="font-size: 150%; font-weight: 100; color: white; text-align: center; padding: 1rem;">Forms</div>
            <form class="page-form" [formGroup]="addPageForm" (ngSubmit)="addPage()">
                <div style="color: white; font-weight: 100; padding: 5px; color: white; font-size: 150%;">Add A Page To Collect Stats</div>
                <mat-form-field><input matInput type="text" name="title" formControlName="title" placeholder="title"></mat-form-field>
                <button mat-raised-button (ngSubmit)="addPage()">add page</button>
            </form>
            <form class="page-form" [formGroup]="addUserForm" (ngSubmit)="addUser()">
                <div style="color: white; font-weight: 100; padding: 5px; color: white; font-size: 150%;">Manually Add or Edit a User</div>
                <mat-form-field style="display: inline-block; margin-left: 3px"><input matInput type="text" name="firstName" formControlName="firstName" placeholder="firstName"></mat-form-field>
                <mat-form-field style="display: inline-block; margin-left: 3px"><input matInput type="text" name="lastName" formControlName="lastName" placeholder="lastName"></mat-form-field>
                <mat-form-field style="display: inline-block; margin-left: 3px"><input matInput type="text" name="nameAbbreviation" formControlName="nameAbbreviation" placeholder="nameAbbreviation"></mat-form-field>
                <mat-form-field style="display: inline-block; margin-left: 3px"><input matInput type="text" name="password" formControlName="password" placeholder="password"></mat-form-field>
                <mat-form-field style="display: inline-block; margin-left: 3px"><input matInput type="text" name="email" formControlName="email" placeholder="email"></mat-form-field>
                <mat-form-field style="display: inline-block; margin-left: 3px"><input matInput type="text" name="username" formControlName="username" placeholder="username"></mat-form-field>
                <mat-form-field style="display: inline-block; margin-left: 3px"><input matInput type="text" name="company" formControlName="company" placeholder="company"></mat-form-field>
                <mat-form-field style="display: inline-block; margin-left: 3px"><input matInput type="text" name="projects" formControlName="projects" placeholder="project"></mat-form-field>
                <mat-form-field style="display: inline-block; margin-left: 3px"><input matInput type="text" name="clientNumber" formControlName="clientNumber" placeholder="clientNumber"></mat-form-field>
                <mat-form-field style="display: inline-block; margin-left: 3px"><input matInput type="text" name="status" formControlName="status" placeholder="status"></mat-form-field>
                <mat-form-field style="display: inline-block; margin-left: 3px"><input matInput type="text" name="role" formControlName="role" placeholder="role"></mat-form-field>
                <br>
                <button mat-raised-button (ngSubmit)="addUser()">create new user</button>
            </form>
        </div>
    </div>
    <br><br>
    <div *ngIf="adminLoggedIn" class="dashboard-items">
        <div class="dashboard-item" style="width: 90%; max-width: 800px; padding: 2rem; color: white;">
            <div style="font-weight: 100; padding: 5px; font-size: 150%;">User Lookup</div>
            <form [formGroup]="userLookupForm" class="user-lookup-form">
                <mat-form-field><input matInput id="name-search-input" type="text" name="lookUpByName" formControlName="lookUpByName" placeholder="search users..."></mat-form-field> {{ searchQueryArray }}
            </form>
            <div class="user-search-results-container" style="font-weight: 100; letter-spacing: 1px; font-size: 110%;" *ngIf="showFilteredUserList">
                <div class="users-found" *ngFor="let user of newUserList">
                    <div class="user-found user">
                        <div class="user-found-left">{{ user.firstName }} {{user.lastName}}</div>
                        <br>
                        <div class="user-email">{{ user.email }}</div>
                    </div>
                </div>
            </div>
            <div class="entire-user-list" style="font-weight: 100; letter-spacing: 1px; font-size: 110%;" *ngIf="!showFilteredUserList">
                <div class="userList">
                    <div class="unfiltered-users">
                        <div class="unfiltered-user user" *ngFor="let user of users">
                            <div class="user-name">{{ user.firstName }} {{user.lastName}}</div>
                            <br>
                            <div class="user-email">{{ user.email }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div>