@keyframes logoTransition {
    0%   {color: white;margin-left: 0px;}
    95%  {margin-left: 100px; color: rgba(255, 255, 255, 0);}
    100% {display: none; color: rgba(255, 255, 255, 0); margin-bottom: 0px;}
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

// --- landing ----------------

@keyframes mobile-landing {
    0%   { width: 1900px; }
    100% { width: 2400px; }
}

@keyframes desktop-landing {
    0%   { width: 3000px; }
    100% { width: 3800px; }
}

// --- upload ----------------

@keyframes mobile-upload {
    0%   { width: 2200px; }
    100% { width: 3000px; }
}

@keyframes desktop-upload {
    0%   { width: 2200px; }
    100% { width: 3000px; }
}

// --- contact ----------------
// --- book ----------------
// --- account ----------------
// --- rentals ----------------