@font-face {
    font-family: reee;
    src: url();
}

#navbar {
    top: 0; width: 100%; height: 67px; z-index: 30; margin-bottom: 67px; position: absolute; overflow: auto;
}

.black-background {
    background-color: black;
}