@font-face {
    font-family: reee;
    src: url();
}

.big-ass-container {
    position: relative;
    max-width: 100vw;
    max-height: 2000px;
}

router-outlet {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.122);
    // z-index: 10;
}

img {
    animation: moveBackground 1s ease;
    z-index: -10;
}

@keyframes moveBackground {
    0% {background-position-x: 3px;}
    100% {background-position: 55px;}
}