<div class="wrapper">
    <div class="account-container">
        <div class="title">Account</div>
        <div class="account-choices">
            <div class="account-choice ac1">
                <div class="account-choice-title">Uploads / Downloads</div>
            </div>
            <div class="account-choice ac2">
                <div class="account-choice-title">Payment Information</div>
            </div>
            <div class="account-choice ac3">
                <div class="account-choice-title"></div>
            </div>
        </div>
    </div>
</div>