@import '../../animations.scss';

.wrapper {
    position: absolute;
    width: 100vw;
}

.account-container {
    margin: auto;
    margin-top: 5%;
    width: 90%;
    max-width: 1250px;
    padding: 1rem;
    border-radius: 5px;
}

.title {
    opacity: 0;
    color: white;
    font-size: 200%;
    font-weight: 100;
    margin: 38px 50px 50px 50px;
    animation: letterSpacingEffect 2s ease forwards;
}

.choices {
    display: flex;
    justify-content: space-around;
}

.div-as-hr {
    border-bottom: 1px solid white;
    animation: hrEffect 1s ease forwards;
}

.choice {
    width: 24%;
    padding: 1rem 2rem;
    border-radius: 7px;
    margin-top: 32px;
}


.choice-title {
    color: white;
    font-size: 175%;
    font-weight: 100;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1s forwards;
}

.nothing-to-display {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 42px;
    background: rgb(0 0 0 / 65%);
    border-radius: 9px;
    padding: 1rem;
    user-select: none;
}

.account-selection-option {
    opacity: 0;
    animation: expandDown 1s ease 1.3s forwards;
}

.start-button {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    border-radius: 9px;
    user-select: none;
    padding: 17px 17px;
    margin-top: 1rem;
    background: linear-gradient(180deg, #00b7ff, #008feb);
    box-shadow: 0px 0px 4px 1px #0063bb;
    text-align: center;
    transition: letter-spacing .3s ease-in-out;
}

.start-button:hover {
    letter-spacing: 3px;
}

.settings {
    margin-top: 42px;
}

.setting {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    border-radius: 9px;
    user-select: none;
    padding: 17px 17px;
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.44);
    transition: letter-spacing .3s ease-in-out;
}

.log-out {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.384);
    border-radius: 9px;
    padding: 17px 17px;
    margin-top: 1rem;
    user-select: none;
    transition: all .3s ease-in-out;
    border: 1px solid #00aaff;
}

.setting:hover {
    letter-spacing: 3px;
}

.log-out:hover {
    letter-spacing: 3px;
    background: rgba(107, 0, 0, 0.496);
}

.uploads-downloads {
    transition: all 1s ease-in-out;
}

.filtered-projects {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    border-radius: 9px;
    user-select: none;
    padding: 17px 17px;
    margin-top: 42px;
    background: rgba(0, 0, 0, 0.44);
    opacity: 0;
    animation: expandDown 1s ease 1.3s forwards;
}

.project-title {
    font-size: 110%;
}

.project-lead {
    font-size: 80%;
    font-weight: 100;
    margin-left: 12px;
    margin-top: 5px;
}

.project {
    letter-spacing: 1px;
    transition: letter-spacing 1s ease-in-out;
}

.project:hover {
    letter-spacing: 2px;
}

@media (max-width: 1215px) {
    .uploads-downloads {
        font-size: 140%;
    }
}

@media (max-width: 973px) {
    .uploads-downloads {
        font-size: 120%;
    }
}

@media (max-width: 834px) {
    .choices {
        display: inline-block;
        width: 100%;
    }
    .choice {
        display: block;
        margin: auto;
        width: 75%;
        margin-top: 30px;
    }
    .uploads-downloads {
        font-size: 175%;
    }
}