<div class="wrapper">
    <div class="account-container">
        <div class="title">Account</div>
        <div class="account-choices">
            <div class="account-choice ac1">
                <div class="account-choice-title">Uploads / Downloads</div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title first-account-choice" (click)="goToYourUploads()">Your Uploads</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToYourDownloads()">Your Downloads</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToManageFiles()">Manage Files</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToShop()">Find New Sounds</div>
                </div>
            </div>
            <div class="account-choice ac2">
                <div class="account-choice-title">Settings</div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title first-account-choice" (click)="goToResetPassword()">Reset Password</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToChangeEmail()">Change Email</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToCurrentPlan()">Current Plan</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToOrderHistory()">Order History</div>
                </div>
            </div>
        </div>
        <div class="account-choices-bottom">
            <div class="account-choice ac3">
                <div class="account-choice-title">Projects</div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title first-account-choice" (click)="goToYourMessages()">Your Projects</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToComposeMessage()">Send Message</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToSendFile()">Send File</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToStarredMessages()">Starred Messages</div>
                </div>
            </div>
            <div class="account-choice ac4">
                <div class="account-choice-title">Support</div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title first-account-choice" (click)="goToAskQuestion()">Ask a Question</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToFAQs()">FAQs</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToReportProblem()">Report Problem</div>
                </div>
                <div class="account-choice-nav-out">
                    <div class="account-choice-nav-out-title" (click)="goToSuggestFeature()">Suggest Feature</div>
                </div>
            </div>
        </div>
    </div>
</div>