<div class="wrapper">
    <div class="header" id="header">
        <span class="waveform">Waveform</span>
        <span class="arts">Arts</span> 
    </div>
    <div id="landing-feature" class="">
        <div class="landing-feature-title">Pro Sound</div>
        <div class="landing-feature-items">
            <div class="landing-feature-item">sound design</div>
            <div class="landing-feature-item">sync </div>
            <div class="landing-feature-item">dialog editing</div>
        </div>
    </div>
    <div id="first-content-box" class="landing-content">
        <div class="content-box">
            <div class="content-title">
                Post Production Audio Services
                <hr style="border: 1px solid #bffffc;">
            </div>
            <div class="content-text">
                Receive high grade audio treatment with a competitive guaranteed turnaround time using an easy platform to upload your files, manage your communication with us, and receive your deliverables quickly and hassle-free. Get rich sound design for your narratives, commercials, or documentaries. 
                <br>
                <div class="landing-button-container">
                    <button mat-raised-button [routerLink]="['upload']">Upload</button>
                    <button mat-raised-button [routerLink]="['contact']">Contact</button>
                </div>
            </div>
        </div>
    </div>

        <!-- <div class="small-spacer"></div> -->

    <div class="landing-content">
        <div class="content-box">
            <div class="content-title">Production Sound Mixing Services</div>
                <hr style="border: 1px solid #bffffc;">
                <div class="content-text">
                    Hire a mixer anywhere in Oklahoma, Texas, LA, or Seattle <span class="button-hire-a-mixer">here</span>.
                    <br>
                    Get a consultation regarding how to get the most for your money when it comes to microphones, mixers, potential location issues and the all too common <span class="do-we-need-a-boom-op">do we really need a boom operator?</span> 
                    <br>
                    <div class="landing-button-container">
                        <button mat-raised-button [routerLink]="['kit-builder']">Kit Builder</button> <button mat-raised-button [routerLink]="['kit-builder', {queryParams: 'show-rates'}]">Rates</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
