<div class="wrapper">

    <div class="header" id="header">
        <span class="waveform">Waveform</span>
        <span class="arts">Arts</span> 
    </div>

    <div id="landing-feature" class="">
        <div class="landing-feature-title">Sound Design</div>
        <br>
        <div class="landing-feature-title">+</div>
        <br>
        <div class="landing-feature-title">Recording Arts</div>
        <div class="landing-feature-items">
            <div class="landing-feature-item lfi1">dialog editing</div>
            <div class="landing-feature-item lfi2">sound design</div>
            <div class="landing-feature-item lfi3">composition </div>
        </div>
    </div>

    <div id="first-content-box" class="landing-content">
        <div class="content-box">
            <div class="content-title">
                Post Production Audio Services
                <hr style="border: 1px solid #bffffc; margin-top: 25px;">
            </div>
            <div class="content-text">
                Receive high grade audio treatment with a competitive guaranteed turnaround time using an easy platform to upload your files, manage project communications, and receive your deliverables hassle-free. 
                <br><br>
                Dialog editing and mixing is our premier service. Leave the fridge on during filming? No problem. Neighbor kid screaming in the background by set? We've been there. We've dealt with it.
                <br><br>
                <div class="get-rich">Get rich sound design for your narrative, commercial, or documentary.</div>
                <div class="landing-button-container">
                    <button mat-raised-button (click)="goToUpload()">Get Started</button>
                    <button mat-raised-button (click)="goToContact()">Contact</button>
                </div>
            </div>
        </div>
    </div>

    <div  class="landing-content">
        <div class="content-box">
            <div class="content-title">
                Production Sound Mixing
                <hr style="border: 1px solid #bffffc; margin-top: 25px;">
            </div>
            <div class="content-text">
                Need someone to run sound on your set? Click <span class="click-here">here</span> to book one of our mixers in LA, Seattle, or Oklahoma City.
                <br><br>
                If budget is a concern, you can receive a free consultation regarding equipment to stay within your means without having to sacrifice quality.
                <br><br>
                You can also rent our mics, mixers, and miscellaneous items for your production with instructions on setup. This is ideal if you're an ultra-low budget narrative or just need some gear for a podcast.
                <br>
                <div class="landing-button-container">
                    <button mat-raised-button (click)="goToBook()">Book Us</button>
                    <button mat-raised-button (click)="goToRentals()">Rentals</button>
                </div>
            </div>
        </div>
    </div>

    <div  class="landing-content">
        <div class="content-box">
            <div class="content-title">
                About Us
                <hr style="border: 1px solid #bffffc; margin-top: 25px;">
            </div>
            <div class="content-text">
                For nearly a decade, we've provided smooth and stimulating sound for dozens of projects of all kinds. From sound designing Gregory-award nominated immersive theater to mixing action features with Machete himself to working on an unfathomable amount of ads, there's nothing we haven't seen before. 
                <br><br>
                Knife fight inside an abandoned nuclear cooling tower? Been there. Yes, it sounded awesome.
                <br>
                <div class="landing-button-container">
                    <button mat-raised-button (click)="goToHighlights()">Highlights</button>
                    <button mat-raised-button (click)="goToContact()">Contact</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>