<!-- <div class="title">Your Plan : <span style="margin-left: 10px; border-bottom: 1px solid white;">{{ plan }}</span></div> -->

<div class="current-plan" *ngIf="!switch">
    <div class="current-plan-title">
        Your plan:  
        <span style="padding: 1rem 2rem; margin: 0px 15px; border-radius: 5px; background-color: rgba(0, 0, 0, 0.119);">{{ plan.slice(0, 1).toUpperCase() }}{{plan.slice(1)}}</span>
        <button mat-raised-button class="switch-plan-button" (click)="switchPlan()">upgrade</button>
    </div>
    <div class="current-plan-description-box">
        <div class="current-plan-description-header">Benefits</div>
        <div class="current-plan-description-content" *ngIf="plan == 'standard'">5 free downloads after sign up</div>
        <div class="current-plan-description-content" *ngIf="plan == 'standard'">5 free downloads a month forever</div>
        <div class="current-plan-description-content" *ngIf="plan == 'standard'">Can create one project</div>
        <div class="current-plan-description-content" *ngIf="plan == 'plus'">10 free downloads after sign up</div>
        <div class="current-plan-description-content" *ngIf="plan == 'plus'">25 free downloads a month forever</div>
        <div class="current-plan-description-content" *ngIf="plan == 'plus'">Can create infinite projects</div>
        <div class="current-plan-description-content" *ngIf="plan == 'preferred'">25 free downloads after sign up</div>
        <div class="current-plan-description-content" *ngIf="plan == 'preferred'">50 free downloads a month forever</div>
        <div class="current-plan-description-content" *ngIf="plan == 'preferred'">Can create infinite projects</div>
    </div>
</div>

<div class="plan-selections" *ngIf="switch">
    <div class="plan p1" id="standard" (click)="selectionMade('standard')">
        <!-- <div class="plan-image"></div> -->
        <div class="plan-title">Standard</div>
        <div class="plan-description">Receive 5 free downloads <br> immediately <br>+<br> 5 each month</div>
        <div *ngIf="planChosen" class="spacer">_</div>
    </div>
    <div class="plan p2" id="plus" (click)="selectionMade('plus')">
        <!-- <div class="plan-image"></div> -->
        <div class="plan-title">Plus</div>
        <div class="plan-description">Receive 10 free downloads <br> immediately <br>+<br> 25 each month</div>
        <div *ngIf="planChosen" class="spacer">_</div>
    </div>
    <div class="plan p3" id="preferred" (click)="selectionMade('preferred')">
        <!-- <div class="plan-image"></div> -->
        <div class="plan-title">Preferred</div>
        <div class="plan-description">Receive 25 free downloads <br> immediately <br>+<br> 30 each month</div>
        <div *ngIf="planChosen" class="spacer">_</div>
    </div>
</div>

<div class="confirm-change-plan" *ngIf="planChosen">
    Switch to <span style="min-width: 30px; border-radius: 5px; background-color: rgb(0 0 0 / 8%); color: white; padding: 1rem 2rem; margin: 0rem 2rem;">{{ selection }}</span> plan? 
</div>
<button mat-raised-button *ngIf="planChosen" class="confirm-plan-button" (click)="confirmSwitch()">Switch</button>

<div class="confirm-switch-plan" *ngIf="confirmSwitchBool">
    <div class="confirm-switch-plan-title">Confirm Upgrading to {{ selection }}</div>
    <div class="confrim-switch-plan-description"></div>
</div>