.title {
    color: white;
    font-size: 150%;
    font-weight: 100;
    padding: 1rem;
}

mat-form-field {
    display: block;
}

textarea {
    height: 215px;
}

.submit {
    margin: auto;
    display: block;
    width: 75%;
}

button {
    font-weight: 100;
    font-size: 105%;
    letter-spacing: 1px;
}

.upload-button {
    width: 75%;
    margin: auto;
    display: block;
}