@import '../../animations.scss';

.wrapper {
    position: absolute;
    width: 100vw;
}

.title {
    color: white;
    font-size: 200%;
    font-weight: 100;
    margin: 100px 50px 50px 50px;
}

.back-button {
    margin-left: 3rem;
    background-color: rgba(52, 52, 52, 0.574);
    font-weight: 100;
    font-size: 55%;
    animation: fadeIn 1s ease-in-out;
}

.section-title {
    color: white;
    padding: 1rem 7rem;
    font-size: 150%;
    font-weight: 100;
    animation: fadeIn 1s ease;
}

.view-messages-table {
    background-image: linear-gradient(0.31turn, #00d0ff, #0088ff);
}

.navigation {
    margin-left: 12%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(0.31turn, #00d0ff, #0088ff);
}

.nav-selection {
    padding: 1rem;
    font-size: 65%;
    text-align: center;
    user-select: none;
    transition: color .3s ease-in-out;
}

.nav-selection:hover {
    color: black;
}

.compose, .pinned {
    border-left: 1px solid black;
}

.alert-dot {
    display: inline-block; 
    border-radius: 8px;
    width: 0px;
    height: 0px; 
    z-index: -1; 
    background-color: rgba(187, 0, 0, 0);
    margin-left: 3px;
    animation: revealDot 1s ease forwards;
}

@keyframes revealDot {
    0%   { width: 0px; height: 0px;  background-color: rgba(187, 0, 0, 0);}
    100% { width: 10px;height: 10px; background-color: rgb(187, 0, 0);}
}

.submit-message-form {
    width: 80%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.232);
    margin: auto;
}

mat-form-field {
    display: block;
    width: 95%;
    margin: auto;
}

textarea {
    min-height: 200px;
    margin-top: 1rem;
}

.no-project-disclaimer {
    background-color: rgb(0 0 0 / 23%);
    font-weight: 100;
    font-size: 128%;
    line-height: 40px;
    width: 50%;
    min-width: 400px;
    color: white;
    padding: 1rem;
    margin: auto;
    display: block;
    border-radius: 7px;
    animation: fadeIn 1s ease;
}

.no-project-disclaimer-options {
    display: flex;
    justify-content: center;
    color: white;
    animation: fadeIn 1s ease;
}

.no-project-disclaimer-option {
    background-color: black;
    font-weight: 100;
    font-size: 125%;
    padding: 2rem;
    margin: 3rem;
    border-radius: 5px;
    user-select: none;
}