@import '../../animations.scss';

.wrapper {
    position: absolute;
    width: 100vw;
}

.title {
    color: white;
    font-size: 200%;
    font-weight: 100;
    margin: 100px 50px 50px 50px;
}

.back-button {
    margin-left: 3rem;
    background-color: rgba(52, 52, 52, 0.574);
    font-weight: 100;
    font-size: 55%;
    animation: fadeIn 1s ease-in-out;
}

.section-title {
    color: white;
    padding: 1rem 7rem;
    font-size: 150%;
    font-weight: 100;
}

.view-messages-table {
    background-image: linear-gradient(0.31turn, #00d0ff, #0088ff);
}

.navigation {
    margin-left: 12%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(0.31turn, #00d0ff, #0088ff);
}

.nav-selection {
    padding: 1rem;
    font-size: 65%;
    text-align: center;
    user-select: none;
}

.compose, .pinned {
    border-left: 1px solid black;
}

.alert-dot {
    display: inline-block; 
    border-radius: 8px;
    width: 0px;
    height: 0px; 
    z-index: -1; 
    background-color: rgba(187, 0, 0, 0);
    margin-left: 3px;
    animation: revealDot 1s ease forwards;
}

@keyframes revealDot {
    0%   { width: 0px; height: 0px;  background-color: rgba(187, 0, 0, 0);}
    100% { width: 10px;height: 10px; background-color: rgb(187, 0, 0);}
}