@import '../../animations.scss';

.project-wrapper {
    position: absolute;
    // background-color: rgba(211, 211, 211, 0.34);
    width: 100%;
    margin-top: 125px;
}

.project-title {
    margin-left: 10%;
    color: white;
    font-size: 300%;
    font-weight: 100;
    animation: fadeIn 1s ease;
}

.project-description {
    margin-left: 10%;
    color: white;
    font-size: 110%;
    font-weight: 100;
    animation: fadeIn 1s ease .3s;
}

@media(max-width: 501) {

}