<div class="project-wrapper">
    <div class="project" *ngIf="project">
        <div class="project-title">
            <div class="project-title-container">{{ project.title }}</div>
            <div class="project-lead-name">{{ project.projectLeadName }}</div>
        </div>
        
        <br><br>
        <div class="project-content-container">

            <div class="settings-column"> <!-- settings column -->
                <div class="settings-wrapper">
                    <div class="settings-column-item" (click)="displaySelection('files')" style="border-top-left-radius: 8px; border-top-right-radius: 8px;">
                        <div class="item-title">Files</div>
                    </div>
                    <div class="spacer"></div>
                    <div class="settings-column-item" (click)="displaySelection('deliverables')">
                        <div class="item-title">Deliverables</div>
                    </div>
                    <div class="spacer"></div>
                    <div class="settings-column-item" (click)="displaySelection('communications')" style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                        <div class="item-title">Communications</div>
                    </div>
                </div>

        <!-- ======== audio controller ========= -->
        <div class="audio-controls" id="audio-controls" *ngIf="audio">
            <div class="audio-control-left">
                <div class="file-title-container"><div class="file-title">{{ selectedAudio }}</div></div>
                <div class="play-pause-stop-buttons">
                    <button class="audio-control" mat-raised-button (click)="audioPlayPause('play')"><mat-icon>play_arrow</mat-icon></button>
                    <button class="audio-control" mat-raised-button (click)="audioPlayPause('pause')"><mat-icon>pause</mat-icon></button>
                    <button class="audio-control" mat-raised-button (click)="audioStop()"><mat-icon>stop</mat-icon></button>
                </div>
            </div>
            <div class="audio-control-right">
                <mat-slider vertical class="volume-slider" [(ngModel)]="volume" max="1" step="0.01"><input type="range" matSliderThumb></mat-slider>
            </div>
            <mat-slider class="audio-slider" [color]="color" [(ngModel)]="currentTime" max="{{duration}}" style="width: 100%;" step="0.01"><input type="range" matSliderThumb></mat-slider>
        </div>
        <!-- ========  end audio controller ========= -->
        </div>

            <div class="settings-selections"> <!-- settings selection -->
                <div class="settings-selection" *ngIf="filesSelected">
                    <div class="selection-title">Files</div>
                    <div class="required-files file-container">
                        <div class="files-title">Required Files</div>
                        <div class="file-container-row">
                            <div class="file-container-column-1">AAF / OMF</div>
                            <div class="file-container-column-2" *ngIf="sessionDataFile">{{ sessionDataFile | filename }}</div>
                            <div class="file-container-column-2" *ngIf="!sessionDataFile">not uploaded</div>
                            <button mat-raised-button class="file-container-column-3" *ngIf="!sessionDataFile" (click)="aaf.click()">+</button>
                            <input type="file" style="display: none;" #aaf (change)="onFileChange($event, 'aaf')" >
                            <button mat-raised-button class="file-container-column-3" *ngIf="sessionDataFile" (click)="removeFile('aaf')">remove</button>
                        </div>
                        <div class="file-container-row">
                            <div class="file-container-column-1">Movie File</div>
                            <div class="file-container-column-2" *ngIf="movieFile">{{ movieFile | filename }}</div>
                            <div class="file-container-column-2" *ngIf="!movieFile">not uploaded</div>
                            <button mat-raised-button class="file-container-column-3" *ngIf="!movieFile" (click)="movie.click()">+</button>
                            <input type="file" style="display: none;" #movie (change)="onFileChange($event, 'movie')">
                            <button mat-raised-button class="file-container-column-3" *ngIf="movieFile">remove</button>
                        </div>
                    </div>
                    <div class="requested-files file-container">
                        <div class="files-title">Files Requested by Engineer</div>
                        <div class="file-container-row" *ngIf="!requestedFiles">none currently requested</div>
                    </div>
                    <div class="user-files file-container">
                        <div class="files-title">Files You Uploaded</div>
                        <div class="file-container-row" *ngIf="!uploadedFiles">none currently uploaded</div>
                    </div>
                </div>
                <div class="settings-selection" *ngIf="deliverablesSelected">
                    <div class="selection-title">Deliverables</div>
                    <div class="stem" id="dialog">
                        <div class="stem-title">Dialog</div>
                        <div class="stem-file" *ngIf="dialogStem">{{ dialogStem | filename }}</div>
                        <div class="stem-file" *ngIf="!dialogStem">stem not uploaded</div>
                        <button mat-raised-button *ngIf="dialogStem" class="stem-download" (click)="download($event)">download</button>
                        <button mat-raised-button *ngIf="dialogStem" class="listen" (click)="listen(dialogStem)">listen</button>
                        <button mat-raised-button *ngIf="!dialogStem" class="stem-upload" (click)="dialog.click()">upload</button>
                        <input type="file" style="display: none;" #dialog (change)="onFileChange($event, 'dialog')">
                    </div>
                    <div class="stem" id="ambience">
                        <div class="stem-title">Ambience</div>
                        <div class="stem-file" *ngIf="ambienceStem">{{ ambienceStem | filename }}</div>
                        <div class="stem-file" *ngIf="!ambienceStem">stem not uploaded</div>
                        <button mat-raised-button *ngIf="ambienceStem" class="stem-download" (click)="download($event)">download</button>
                        <button mat-raised-button *ngIf="ambienceStem" class="listen" (click)="listen(ambienceStem)">listen</button>
                        <button mat-raised-button *ngIf="!ambienceStem" class="stem-upload" (click)="ambience.click()">upload</button>
                        <input type="file" style="display: none;" #ambience (change)="onFileChange($event, 'ambience')">
                    </div>
                    <div class="stem" id="effects">
                        <div class="stem-title">Effects</div>
                        <div class="stem-file" *ngIf="effectsStem">{{ effectsStem | filename }}</div>
                        <div class="stem-file" *ngIf="!effectsStem">stem not uploaded</div>
                        <button mat-raised-button *ngIf="effectsStem" class="stem-download" (click)="download($event)">download</button>
                        <button mat-raised-button *ngIf="effectsStem" class="listen" (click)="listen(effectsStem)">listen</button>
                        <button mat-raised-button *ngIf="!effectsStem" class="stem-upload" (click)="effects.click()">upload</button>
                        <input type="file" style="display: none;" #effects (change)="onFileChange($event, 'effects')">
                    </div>
                    <div class="stem" id="music">
                        <div class="stem-title">Music</div>
                        <div class="stem-file" *ngIf="musicStem">{{ musicStem | filename }}</div>
                        <div class="stem-file" *ngIf="!musicStem">stem not uploaded</div>
                        <button mat-raised-button *ngIf="musicStem" class="stem-download" (click)="download($event)">download</button>
                        <button mat-raised-button *ngIf="musicStem" class="listen" (click)="listen(musicStem)">listen</button>
                        <button mat-raised-button *ngIf="!musicStem" class="stem-upload" (click)="music.click()">upload</button>
                        <input type="file" style="display: none;" #music (change)="onFileChange($event, 'music')">
                    </div>
                </div>

                <div class="settings-selection" *ngIf="communicationsSelected">
                    <div class="selection-title">Communications</div>
                </div>
            </div>
        </div>
    </div>
</div>
