@import '../../animations.scss';

.project-wrapper {
    position: absolute;
    // background-color: rgba(211, 211, 211, 0.34);
    width: 100%;
    margin-top: 125px;
}

.project-title {
    color: white;
    animation: fadeIn 1s ease;
    background-color: rgba(76, 222, 255, 0.363);
}

.project-title-container {
    padding: 9px 25px;
    margin-left: 10%;
    font-size: 300%;
    font-weight: 100;
}

.project-lead-name {
    margin-left: 17%;
    font-size: 120%;
    color: grey;
    font-weight: 100;
    padding-bottom: 20px;
    animation: projectLeadName 1.7s ease .2s forwards;
}

@keyframes projectLeadName {
    0%   { color: grey; letter-spacing: 1px; }
    100% { color: white; letter-spacing: 2px; }
}

.project-content-container {
    width: 90%;
    max-width: 950px;
    display: block;
    margin: auto;
}

.settings-column {
    float: left;
    border-radius: 8px;
    border: 1px solid white;
    width: 40%;
    max-width: 275px;
    margin-top: 85px;
}

.settings-column-item {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 1s ease-in-out;
    font-size: 130%;
}

.settings-column-item:hover {
    background-color: rgba(0, 0, 0, 0.446);
}

.spacer {
    display: block;
    margin: auto;
    width: 40%;
    border-top: 1px solid white;
}

.item-title {
    padding: 1rem;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    text-align: center;
    user-select: none;
}

// SETTINGS SELECTION

.settings-selections {
    float: right;
    width: 58%;
}

.settings-selection {

}

.selection-title {
    color: white;
    font-weight: 100;
    font-size: 125%;
    text-align: center;
    padding-bottom: 2rem;
    letter-spacing: 2px;
}

.small-spacer {
    border-bottom: 1px solid white;
    width: 20px;
    display: block;
    margin: auto;
    padding-top: 19px;
}

@keyframes colorChange {
    0% { color: rgb(0, 213, 255);}
    50% { color: white;}
    100% { color: rgb(0, 213, 255);}
}

.message-engineer {
    animation: colorChange 10s infinite;
}

form {
    font-weight: 100;
    color: white;
}

.add-user-or {
    text-align: center;
    display: inline;
    margin-top: 25px;
}

button {
    // font-weight: 100;
    // letter-spacing: 2px;
    // width: 75%;
}

.project-form {
    background: rgba(0, 0, 0, 0.541);
    padding: 1rem;
    border-radius: 8px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
    vertical-align: top;
}

.member-ng-for-wrapper {
    color: white;
    padding: 1rem 10px;
    font-size: 90%;
    font-weight: 100;
    letter-spacing: 2px;
    border-radius: 9px;
    margin-left: 1rem;;
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.541);
    transition: letter-spacing .3s ease-in-out;
}

.members {
    display: flex;
    margin-bottom: 2px;
}

.member-email {
    padding: 8px;
    flex: 80;
    width: 30%;
}

.removal-container {
    background-color: rgba(0, 0, 0, 0.535);
    transition: background-color .4s ease-in-out;
    border-radius: 8px;
}

.removal-button {
    flex: 10;
    text-align: center;
    margin-top: 3px;
    padding: 5px 19px;
    user-select: none;
}

.lead-container {
    background-color: rgba(0, 0, 0, 0.535);
    transition: background-color .4s ease-in-out;
    border-radius: 8px;
}

.lead-button {
    flex: 10;
    text-align: center;
    margin-top: 3px;
    padding: 5px 9px;
    user-select: none;
}

.lead-container:hover {
    background-color: rgba(0, 225, 255, 0.444);
}

.removal-container:hover {
    background-color: rgba(120, 0, 0, 0.535);
}

.submit-button {
    width: 50%;
    display: block;
    margin: auto;
    opacity: 0;
    animation: fadeIn 1s ease .2s forwards;
}

.user-mat-form-field {
    width: 40%;
}

.textarea-engineer {
    width: 100%;
    height: 7rem;
}

.textarea-discussion {
    width: 100%;
    height: 7rem;
}

.files-title {
    padding: 1rem;
    font-size: 150%;
    text-align: center;
    letter-spacing: 1px;
}

.file-container {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    margin-bottom: 2rem;
    font-weight: 100;
}

.file-container-row {
    display: flex;
    padding: 1rem;
}

.file-container-column-1 {
    flex: 1;
    margin-top: 8px;
}

.file-container-column-2 {
    flex: 0 0 35%;
    margin-top: 8px;
    text-align: center;
}

.file-container-column-3 {
    flex: 0 0 15%;
}

.stem {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    margin-bottom: 2rem;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.stem-title {
    font-size: 125%;
    letter-spacing: 2px;
    margin-top: 6px;
}

.stem-file {
    margin-top: 8px;
}

.stem-download, .stem-upload, .listen {
    letter-spacing: 1px;
    font-size: 70%;
    font-weight: 100;
}

.progress-container {
    background-image: linear-gradient(90deg, white, black);
    display: flex;
    justify-content: center;
}