<div class="title">FAQs</div>

<div class="faqs">
    <div class="faq">
        <div class="faq-question">My downloads show up but I'm unable to actually download the files.</div>
        <div class="faq-answer">Usually this can be resolved by just closing your browser and trying to reload the site. If problems persist we'll send you your files via your choice of Dropbox, Google Drive, or WeTransfer.</div>
    </div>
    <div class="faq">
        <div class="faq-question">I changed my email but still receive messages through my old email.</div>
        <div class="faq-answer">Close your browser and go through the steps to change your email again. If problems persist, we will hardcode your new email into your account. Should problems continue, we will fully reset your account with fully accurate information.</div>
    </div>
    <div class="faq">
        <div class="faq-question">I uploaded files but they don't always appear in the uploads section of my account. </div>
        <div class="faq-answer">This is a known problem and we're working on it. If you ever need any of your files or want to receive all of them in a zip file, let us know and we'll get them delivered by the end of the next business day. </div>
    </div>
    <div class="faq">
        <div class="faq-question">question</div>
        <div class="faq-answer">answer</div>
    </div>
</div>