<div class="wrapper">
    <form [formGroup]="createProjectForm" (ngSubmit)="submitProject()">
        <div id="step-1" *ngIf="!showStep2">
            <div class="title">Let's start with the basics</div>
            <mat-form-field><input matInput type="text" name="title" formControlName="title" placeholder="project title" autofocus></mat-form-field>
            <mat-form-field><input matInput type="text" name="projectLeadEmail" formControlName="projectLeadEmail" placeholder="project email"></mat-form-field>
            <mat-form-field><input matInput type="text" name="description" formControlName="description" placeholder="descibe the project"></mat-form-field>
            <mat-form-field><input matInput type="text" name="projectLeadName" formControlName="projectLeadName" placeholder="project lead"></mat-form-field>
            <button mat-raised-button type="submit" class="submit-button" (click)="displayStepTwo()">next step</button>
        </div>
        <div id="step-2" *ngIf="showStep2">
            <div class="title">Send invitations to join project</div>
            <div class="email-list-if" *ngIf="emailList">
                <div class="email-list-for" *ngFor="let email of emailList">
                    <div class="email-row">
                        <div class="email-wrapper left-column">{{ email }}</div>
                        <div class="remove-email right-column" (click)="removeEmail(email)">-</div>
                    </div>
                    <div class="email-spacer"></div>
                </div>
            </div>
            <!-- <mat-form-field><input matInput id="email-submit" type="text" name="email" placeholder="send email to:"></mat-form-field> -->
            <mat-form-field><input matInput type="text" [(ngModel)]="newEmail" [ngModelOptions]="{standalone: true}" placeholder="email to add"></mat-form-field>
            <button mat-raised-button type="button" (click)="addEmailToList()" class="add-email-to-list-button">add email to list</button>
            <hr>
            <div class="step-two-footer">
                <button mat-raised-button class="back-button" (click)="back()"><</button>
                <button mat-raised-button class="submit" (click)="submitProject()">submit</button>
            </div>
        </div>
    </form>
</div>