.title {
    font-size: 225%;
    padding: 5px 1rem;
    font-weight: 100;
    letter-spacing: 1px;
}

mat-form-field {
    display: block;
    width: 100%;
}

.change-button {
    box-shadow: 0px 0px 2px 4px black;
    border: 1px solid lightblue;
    width: 5px;
    height: 5px;
}

.submit-button {
    box-shadow: 0px 0px 2px 4px black;
    border: 1px solid lightblue;
    width: 5px;
    height: 5px;
}