#window {
    height: 1500px;
}

.bg-image-1 {
    background-image: url('../../../assets/img/waveform-arts-landing.jpeg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}