<div class="title">Ask A Question</div>

<form [formGroup]="questionForm" (ngSubmit)="uploadQuestion()">
    <mat-form-field><textarea matInput type="text" name="question" formControlName="question" placeholder="What is your question?"></textarea></mat-form-field>
    <mat-form-field><input matInput type="text" name="additionalInfo" formControlName="additionalInfo" placeholder="browser, operating system, software? (optional)"></mat-form-field>
    <input type="file" style="display: none" #image (change)="imageSelected($event)">
    <br>
    <button type="button" mat-raised-button class="upload-button" (click)="image.click()">add image to question</button>
    <div class="image-uploaded-notifier" *ngIf="imagePreview && imagePreview !== ''">ready for upload</div>
    <br>
    <button mat-raised-button type="submit" class="submit" [disabled]="!questionForm.valid">submit</button>
</form>